/* COMMON */
html {
    font-size: 100%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.ms_button {
    padding: .4rem 1.1rem;
    border-radius: 20px;
}

.ms_button:hover {
    outline: 2px solid;
    outline-offset: 2px;
}

.margin-top-10 {
    margin-top: 10rem;
}

.bg-grey {
    background-color: #1f1f1f;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-top {
    background-color: black;
    padding: .6rem 1.5rem;
}

.logo-sony {
    width: 6rem;
}

.header-bottom {
    height: 80px;
    font-size: .9rem;
    font-weight: 500;
    background-color: white;
}

.logo-playstation {
    width: 5rem;
}

.header-bottom nav {
    line-height: 80px;
}

.header-bottom a {
    color: black;
}

.header-bottom a i {
    font-size: .7rem;
    margin: 0 .3rem;
    color: #737373;
}

.ms_right-menu li {
    margin: 0 .3rem;
}

.ms_right-menu .ms_button {
    background-color: black;
    color: white;
}

.ms_right-menu .ms_button:hover {
    outline-color: black;
}

.ms_right-menu #search i {
    font-size: 1.5rem;
    vertical-align: middle;
    color: black;
}

.ms_burger-menu {
    padding-right: 1rem;
    line-height: 80px;
}

.ms_burger-menu a i {
    font-size: 1.5rem;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    padding: .1rem .7rem;
}

/* JUMBOTRON */
.jumbotron {
    margin-top: 123.2px;
    padding-top: 20rem;
    padding-bottom: 3rem;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.returnal-logo {
    width: 12rem;
}

.jumbotron .ms_button {
    background-color: #cd3d0f;
    color: white;
}

.jumbotron .ms_button:hover {
    outline-color: #cd3d0f;
}

/* SEZIONE GRID CARDS */
.ms_grid-cards {
    overflow: hidden;
    transition: .1s linear;
}

.ms_grid-cards:hover {
    transform: translate(0, -10px);
}

.ms_offset {
    outline: 2px solid #2787d5;
    outline-offset: 2px;
    border-radius: 10px;
}

.ms_grid-cards img {
    border-radius: 10px;
}

/* SEZIONE ECCO LA PS5 */
.ps5-text h6 {
    color: #2c8ad6;
}

.ps5-section p {
    color: #727272;
}

.ps5-section .ms_button {
    background-color: #2d64e6;
    color: white;
}

.ps5-section .ms_button:hover {
    outline-color: #2d64e6;
}

.ps5-section .ps5-item-card {
    width: 8rem;
    padding: .5rem 0;
    border-bottom: 2px solid transparent;
    opacity: .7;
}

.ps5-section .ps5-item-card:hover {
    border-color: #2d64e6;
    cursor: pointer;
    opacity: 1;
}

.ps5-section .ms_selected {
    opacity: 1;
    border-color: #2d64e6;
}

/* Secondo jumbotron */
.second-jumbotron {
    padding-bottom: 8rem;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.second-jumbotron .returnal-logo {
    width: 15rem;
}

.second-jumbotron .ms_button {
    background-color: #cd3d0f;
    color: white;
}

.second-jumbotron .ms_button:hover {
    outline-color: #cd3d0f;
}

/* Section ps4 */
.ps4-section p {
    color: #727272;
}

.ps4-section .card {
    border: 0;
}

.ps4-section .ms_button {
    background-color: #2d64e6;
    color: white;
}

.ps4-section .ms_button:hover {
    outline: 2px solid #2d64e6;
    outline-offset: 2px;
}

/* Sezione PS Plus */
section.ps-plus {
    background-color: #bebcbb;
}

section.ps-plus .ps-plus-item {
    margin-top: 1rem;
}

section.ps-plus .ms_button {
    border-color: transparent;
    background-color: #d9dadc;
    color: #2d64e6;
}

/* Section Sales */
.ms_section-sales p {
    color: #727272;
}

/* Section PS Now */
section.ps-now {
    padding: 1rem 0;
    background-color: #161c3b;
    color: white;
}

section.ps-now .ps-plus-item img {
    width: 60%;
}

section.ps-now .ms_button {
    border: none;
}

section.ps-now .ms_button:hover {
    outline-color: white;
}
