/* COMMON */
html {
    font-size: 100%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.ms_button {
    padding: .4rem 1.1rem;
    border-radius: 20px;
}

.margin-top-10 {
    margin-top: 10rem;
}

/* HEADER */
.header-top {
    background-color: black;
    padding: .6rem;
}

.logo-sony {
    width: 6rem;
}

.header-bottom {
    height: 80px;
    font-size: .9rem;
    font-weight: 500;
}

.logo-playstation {
    width: 5rem;
}

.header-bottom nav {
    line-height: 80px;
}

.header-bottom a {
    color: black;
}

.header-bottom a i {
    font-size: .7rem;
    margin: 0 .3rem;
    color: #737373;
}

.ms_right-menu li {
    margin: 0 .3rem;
}

.ms_right-menu .ms_button {
    background-color: black;
    color: white;
}

.ms_right-menu #search i {
    font-size: 1.5rem;
    vertical-align: middle;
    color: black;
}

.ms_burger-menu {
    padding-right: 1rem;
    line-height: 80px;
}

.ms_burger-menu a i {
    font-size: 1.5rem;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    padding: .1rem .7rem;
}

/* JUMBOTRON */
.jumbotron {
    padding-top: 12rem;
    padding-bottom: 3rem;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.returnal-logo {
    width: 12rem;
}

.jumbotron .ms_button {
    background-color: #cd3d0f;
    color: white;
}

/* SEZIONE GRID CARDS */
.ms_grid-cards {
    overflow: hidden;
    border-radius: 10px;
}

/* SEZIONE ECCO LA PS5 */
.ps5-text h6 {
    color: #2c8ad6;
}

.ps5-section p {
    color: #727272;
}

.ps5-section .ms_button {
    background-color: #2d64e6;
    color: white;
}

.ps5-section .ms_grid-cards:hover {
    transform: scale(1);
}

.ps5-section .ps5-item-card {
    width: 8rem;
    padding: .5rem 0;
    border-bottom: 2px solid transparent;
}

.ps5-section .ps5-item-card:hover {
    border-color: #2d64e6;
    cursor: pointer;
}